#contain {
    display: flex;
    padding: 80px;
    background: red;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: 0;
}

#digito {
    border: #ccc 3px solid;
    border-radius: 5px;
    font-size: 50px;
    padding: 20px;
    margin: 0 10px 0 10px;
}